.gradient {
    background-image: linear-gradient(rgb(113, 117, 119), rgb(21, 27, 32));
}

html {
    height: 100%;
}
body {
    height: 83%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Londrina Solid', cursive;
}

h1 {
    font-family: 'Creepster', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 100px !important;
}

.flip-image {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.char-row {
    position: relative;
}

#zombie-sprite {
    position: absolute;
    bottom: 0;
    height: 50%;
    right: 0;
}

#blood-sprite {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#hero-sprite {
    position: absolute;
    bottom: 30px;
    height: 35%;
}

#sound-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
}

#sound-off {
    color: #E81224;
}

h2 {
    font-family: 'Creepster', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: red;
    font-size: 140px !important;
}

h3 {
    letter-spacing: 5px;
    font-size: 50px;
    padding-top: 30px;
}

h4 {
    font-size: 50px;
}

.spacer {
    height: 540px;
    position: relative;
}

#game-over {
    position: absolute;
    width: 100%;
}

#begin-game {
    position: absolute;
    width: 100%;
}

p {
    font-size: 26px;
}

.background {
    background-image: url("../images/background.png");
    background-repeat:no-repeat;
    background-position: center center;
    height: 100%;
}